{% extends "shop/base.html" %}

{% block title %}
  Concludi l'ordine
{% endblock %}

{% block content %}
  <h1>Concludi l'ordine</h1>

  <div class="order-info">
    <h3>Il tuo ordine</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>€{{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    <p>Totale: €{{ cart.get_total_price }}</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form.as_p }} 
    <p><input type="submit" value="Invia ordine"></p>
    {% csrf_token %}
  </form>
{% endblock %}
